@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer base{
 :root {
  
    /* colors */
    --primary : #2BD17E;
    --error: #EB5757;
    --background:#093545;
    --input-color:#224957;
    --card-color:#092C39;

    --font: "Montserrat"
 }
  
 html{
    box-sizing: border-box;
 }

 *,*::before,*::after{
    box-sizing: inherit;
 }

 body{
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top:10px;
    font-family: var(--font);
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--background);
    height: 100vh;
    overflow: hidden;
  }
  
  .center{
    padding-top: 210px;
    text-align: center;
    margin:0  auto;
    border-radius: 10px;
    max-width: 600px;
  }
  
  .center h3{
    text-align: center;
    width: 591px;
    color:#fff;
    font-family: var(--font);
    font-weight: 600;
    font-size: 48px;
  }

  input[type="Submit"]{
   width: 202px;
   height: 56px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color:#FFFFFF;
    background-color: var(--primary);
    border: none;
  }

@media (max-width: 609px) { 
    .center{
      max-width: 609px;
      text-align: center;
      padding-top: 210px;
    }

    .center h3{
      font-size: 42px;
    }

    input[type="Submit"]{
     width: 190px;
} 
}

@media (max-width: 428px) { 
  .center{
    max-width: 428px;
    text-align: center;
    padding-top: 210px;
  }

  .center h3{
    font-size: 32px;
    width: 380px;
  }

  input[type="Submit"]
{
  width: 380px;
}
}
}